.wrapper {
    /* margin-left: calc(5% + 6em); */
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
    font-size: 24px;
    flex: 1 0;
}

.wrapper p {
    margin: 15px 0;
    line-height: 1.6;
}

.wrapper a {
    color: hsl(0, 100%, 33%);
    text-decoration: none;
    transition: color 200ms;
}

.wrapper a:hover {
    color: hsl(0, 100%, 20%);
}

.content {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    font-size: 20px;
    flex: 1 0;
}

h1 {
    text-align: center;
}

.content p {
    margin: 10px 0;
}

.numinput {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical;
    margin-top: 10px;
    outline: none;
    overflow-y: hidden;
    font: inherit;
}

.form_btn {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0.3em;
    border-radius: 2em;
    border: none;
    font: inherit;
    background-color: #4CAF50;
    text-align: center;
    transition: all 0.2s;
    outline: none;
    color: white;
    cursor: pointer;
}

.red_btn {
    background-color: #f44336;
}


.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1em;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}


/* dollargame */
#game {
    text-align: center;
    width: 700px;
    height: 700px;
    position: relative;
}

.top {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.top a {
    font-weight: 700;
}