@import url('https://fonts.googleapis.com/css?family=Rubik');

html,
body {
  height: 100%;
}

body {
  display: block;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.header {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
}

.header .profile {
  margin-right: 1em;

}
.header .profile img{
  border-radius: 100%;
  border: solid 1px rgba(255, 255, 255, 0.25);
  display: flex;
  width: 5em;
}

.header h1{
  display: flex;
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 10px;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 10px;
}

.header li {
  float: left;
  margin-right: 1em;
}

.nav {
  margin-top: 0.5em;
}
.nav a{
  display: flex;
  color: hsl(0, 100%, 33%);
  text-decoration: none;
  transition: color 200ms;
  font-size: 26px;
  font-weight: bold;
}

.nav a:hover{
  color: hsl(0, 100%, 20%);
}

.icons {
  margin-top: 1em;
}

.icons a img{
  display: flex;
  width: 28px;
  height: 28px;
  transition: opacity 200ms;
}

.icons a img:hover{
  opacity: 0.6;
}

.wrapper {
  /* margin-left: calc(5% + 6em); */
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
  font-size: 24px;
  flex: 1 0;
}

.wrapper p {
  margin: 15px 0;
  line-height: 1.6;
}

.wrappera {
  /* margin-left: calc(5% + 6em); */
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 24px;
  flex: 1 0;
}

.wrapper a {
  color: hsl(0, 100%, 33%);
  text-decoration: none;
  transition: color 200ms;
}

.wrapper a:hover {
  color: hsl(0, 100%, 20%);
}

.wrappera p {
  margin: 15px 0;
  line-height: 1.6;
}

.wrappera a {
  color: hsl(0, 100%, 33%);
  text-decoration: none;
  transition: color 200ms;
}

.wrappera a:hover {
  color: hsl(0, 100%, 20%);
}

.wrappera h3 {
  border-left: hsl(0, 100%, 33%) 5px solid; 
  padding-left: 15px;
  margin-top: 45px;
}

.top{
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.top a{
  font-weight: 700;
}


#myCanvas {
  height: 50vh;
  width: 100%;
}

/* canvas[resize] {
  width: 100%;
  height: 50vh;
} */
