@import url("https://fonts.googleapis.com/css?family=Rubik");

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  color: #333;
}

body {
  display: block;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 22px;
  flex: 1 0;
}

.wrapper p {
  margin: 15px 0;
  line-height: 1.5;
}

.about a {
  color: hsl(0, 100%, 33%);
  text-decoration: none;
  transition: color 200ms;
}

.about a:hover {
  color: hsl(0, 100%, 20%);
}

.about {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

h1 {
  font-size: 60px;
  margin-top: 200px;
  text-align: center;
}

.section-header {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 40px;
}

.about-me-img {
  display: block;
  margin: 30px auto;
  width: 150px;
  height: 150px;
  border-radius: 150px;
}

.icons {
  font-size: 2em;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}

.icons a {
  color: inherit;
  text-decoration: none;
  margin-right: 0.3em;
  margin-left: 0.3em;
}

.linkedin {
  color: #2867b2;
}

.instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.email {
  color: #fed36c;
}

.breweries {
  padding: 2rem;
}

.breweries > ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.breweries > ul > li {
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem;
}

.breweries h2 {
  text-align: center;
}

.breweries p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem 1.5rem;
  color: #666666;
  margin: 0;
}

.breweries a {
  text-decoration: none;
}

.breweries a:hover {
  text-decoration: underline;
}

.wordplay a {
  color: #1cb24b;
}

.sudokusolver a {
  color: #00a3e9;
}

.flappybird a {
  color: #ff8022;
}

.dollargame a {
  color: #3d45cd;
}

.csgomodel a {
  color: #808080;
}

.calcsolver a {
  color: #ee151e;
}
