@import url('https://fonts.googleapis.com/css?family=Rubik');

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  display: block;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.header {
  margin-top: 50px;
  text-align: center;
}

.wrapper {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
  font-size: 22px;
  flex: 1 0;
}

.wrapper p {
  margin: 15px 0;
  line-height: 1.5;
}

.wrapper a {
  color: hsl(0, 100%, 33%);
  text-decoration: none;
  transition: color 200ms;
}

.wrapper a:hover {
  color: hsl(0, 100%, 20%);
}

.content {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  font-size: 20px;
  flex: 1 0;
}

.content p {
  margin: 10px 0;
}

.hidden {
  display: none;
}

.numinput {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: vertical;
  margin-top: 10px;
  outline: none;
  overflow-y: hidden;
  font: inherit;
}

.form_btn {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0.3em;
  border-radius: 2em;
  border: none;
  font: inherit;
  background-color: #4caf50;
  text-align: center;
  transition: all 0.2s;
  outline: none;
  color: white;
  cursor: pointer;
}

.red_btn {
  background-color: #f44336;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em auto;
}

.progress {
  margin: 1em auto;
  width: fit-content;
}

progress {
  -webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}


.loader {
  width: fit-content;
  margin: 20px auto;
}

.red {
  color: red
}

.breweries {
  padding: 2rem;
}

.breweries > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.breweries > ul > li {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
}

.breweries > ul > li > figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
}

.breweries > ul > li > figure > img {
  width: 100%;
}

.breweries > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
}

.breweries > ul > li > figure > figcaption > h3 {
  color: white;
  padding: .75rem;
  font-size: 1.25rem;
}

.breweries > ul > li > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #666666;
}

.breweries > ul > li > a {
  padding: .5rem 1rem;
  margin: .5rem;
}