#output {
    display: none;
}

#matchup {
    text-align: center;
    font-weight: bold;
}

#stats {
    text-align: center; 
    width: 100%;
    line-height: 1.3;
}

#stats td {
    padding:10px;
}